<h1>Questions#answer</h1>
<!-- Find me in app/views/questions/answer.html.erb -->

<div class="container">
  <div class="title">
    <p>Your coach :</p>
    <p><%= @response %></p>
  </div>

<%= link_to "Go ask a new question", ask_path %>

</div>
