<h1>Questions#ask</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->
<p>You :</p>
<form action="/answer" method="get">
  <input type="text" name="query" placeholder="Your message">
  <input type="submit">
</form>
