// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  background-color: #84b8d0;
  opacity: 0.6;
  border: bold;
  text-align: center;
  width: 450px;
  margin: 0 auto;

}

.title{
  color: #142345;
}
